* {
    padding: 0;
    margin: 0;
}

p {
    padding: 5px;
}

/** https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_dropdown_navbar **/
body {
    font-family: Arial, Helvetica, sans-serif;
}

.img-responsive
{
    max-width: auto;
    height: auto;


}

.ribbon {
    height: 12px;
    background-color: #1E261F;
}

#content {
    background-color: #616161;
    margin: 15px 20%;
}
