img {
  border-radius: 25px;
}

body {
    background-color: lightslategrey;
}

div.gallery {
  border: 1px solid darkgrey;
  border-radius: 25px;
}

div.gallery:hover {
  border: 1px solid darkgrey;
  border-radius: 25px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

.responsive {
  padding: 0 3px;
  float: left;
  width: 25%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 50%;
    margin: 3px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

@font-face {
    font-family: F16;
    src: url("../SubSkipper/F16_Panel Font.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

